.calculator-machine {
    width: 300px;
    height: auto;
    border: 2px solid rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 16px;
    border-radius: 2%;
}

input {
    width: 87%;
    text-align: right;
    padding: 10px 20px;
    border: none;
    outline-color: none;
    font-size: 1.5rem;
}

.button-cal {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    margin: 3%;
    box-sizing: 'border-box',
}

button {
    padding: 10px;
    font-size: 1rem;
    color: #f2f2f2;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border-radius: 2px;
    border: 0;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
    border-radius: 2%;
}

button:hover{
    opacity: 1;
}

.two-span {
    grid-column: span 2;
    width: 125px;
}

.one-span {
    width: 50px;
}

.color-button-red {
    background-color: tomato;
}

.button-cal button:active {
    background-color:cyan;
    color: #f2f2f2;

}